body {
  font-family: Arial;
  font-size: 10px;
}

.header {
  background: #333;
  color: #555;
}

a:focus {
  outline: none;
}

.visually-hidden {
  display: none;
}

button {
  background: #ccc;
  color: #aaa;
  border: none;
  padding: 5px 10px;
}
